
.spinner.htmx-request {
    display: block;
}

.spinner {
    display: none;
}

::-webkit-scrollbar {
  height: .5rem;
  width: .5rem;
}

::-webkit-scrollbar-track {
  border-radius: 0.25rem;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: #002600;
}

body::-webkit-scrollbar-track {
  border-radius: 0.25rem;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: #002600;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
background-color: #1aff1a;
  background-color: #00b300;
}

::-webkit-scrollbar-thumb:hover {
  --tw-bg-opacity: 1;
  background-color: #1aff1a;
}

body::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: #00b300;
}

body::-webkit-scrollbar-thumb:hover {
  --tw-bg-opacity: 1;
  background-color: #1aff1a;
}

