{% extends "base.html" %}
{% block content %}
<h1 id="title"
    class="inline-block pb-0 mx-auto mb-0 text-8xl font-black leading-tight leading-loose text-transparent bg-clip-text bg-gradient-to-r from-red-600 via-pink-500 to-yellow-400 ring-red-500 text-shadow-xl text-shadow-zinc-950 ring-5">
    HTMX PATTERNS
</h1>

<p class='mt-0 mb-16 max-w-xl text-center prose-xl'>
    A collection of HTMX patterns
</p>

<ul id="patterns" class="flex flex-col gap-4">
    <li>
        <a href="{{ url_for('infinite') }}"
            class="cursor-pointer bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded">
            Infinite Scroll
        </a>
    </li>
</ul>

{% endblock %}
